<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGDcTEHv_t12riSTB5R6lk9Fn8MSzlQcY</string>
	<key>GCM_SENDER_ID</key>
	<string>750339312076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ricoapps.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>another-todo-4ea4a</string>
	<key>STORAGE_BUCKET</key>
	<string>another-todo-4ea4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750339312076:ios:8ef8828908e233c9b63569</string>
</dict>
</plist>